<!DOCTYPE html>
<html>
<head>

    <!-- icon title bar -->
    <link type="image/x-icon" href="~/Images/icono-agencia-de-viajes.jpg" rel="icon" />

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="~/Content/othercss/css/heroic-features.css" rel="stylesheet" type="text/css" />

    <!-- Mi CSS -->
    <link href="~/Content/othercss/css/styles.css" rel="stylesheet" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>

    <!-- datepicker -->

    <link href="~/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="~/datepicker/js/main.js"></script>

    <script type="text/javascript" src="~/datepicker/js/bootstrap-datepicker.js"></script>

    <script>

             $(function(){
                 $('.datepicker').datepicker({

                     format: 'yyyy-mm-dd',
                     startDate: '-3d',

                     autoclose: true,
                     endDate: '+0d'

                 });

                 $('#fechasalida').on('changeDate', function(ev){
                     $(this).datepicker('hide');
                 });

                 $('#fecharetorno').on('changeDate', function(ev){
                     $(this).datepicker('hide');
                 });


                 function today(){
                     var d = new Date();
                     var curr_date = d.getDate();
                     var curr_month = d.getMonth() + 1;
                     var curr_year = d.getFullYear();

                     document.miform.tdci.value=curr_year+ "-" + curr_month + "-" +curr_date  ;
                     document.miform.tdcf.value=curr_year+ "-" + curr_month + "-" +curr_date  ;
                 }

             });
    </script>
    <!-- datepicker -->


</head>
<body class="cuerpo">

    <!-- Page Content -->
    <div class="container ">

        <!-- Jumbotron Header -->
        <!-- inicio fila banner -->

        <div class="row">

            <div class="col-lg-12 hidden-xs hidden-md">
                <!--  <img class="img-responsive" src="~/Images/banner.png" /> -->
            </div>

        </div>
        @RenderSection("head", required: false)
        @RenderBody()

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; EasyTravel Travel 2015</p>
                </div>
            </div>
        </footer>

        <!-- toggle modal poup -->
        <!-- poup login -->

    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/Content/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Content/js/bootstrap.min.js"></script>
</body>

</html>
