@{
    ViewBag.Title = "Paquetes por tipo";
    Layout = "~/Views/Shared/Usuario_layout.cshtml";
}

@section head{


<h2>@ViewBag.tituloPaquetesXtipo</h2>

    <hr />
<div class="row text-center ">


    @Html.Partial("_Partialpaquetes")


    <!-- /.row -->


</div>


    </div>

}